@media (max-width: 968px) {
    header{
        display: none;
    }
    .adaptive-menu{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 20;
    }
    nav{
        width: 100%;
    }
    .navbar {
       
        padding-top: 0rem; 
        padding-bottom: 0rem;
    }

    .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        background-color: black;
    }
    .navbar-nav {
        align-items: center;
        margin-top: 20px;
    }

    .circleLogo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 10px;
        margin-right: 10px;
        position: relative;
        bottom: -23%;
    
    }

    .textLogo {
        font-size: 14px;
    }
    .NeonShopSPB {
        font-size: 18px;
        margin-top: 23px;
        margin-bottom: 0px;
        position: relative;
        bottom: -1.5vh;
    }

    .navbar-collapse {
        background-color: #252223;
        /* padding-top: 2vh; */
    }

    .nav-link{
        color:white;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
    }
    
  
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }

    .logoNeonShop{
        margin-left: 1rem;
    }

    .call-order{
        color:#4182FF;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-top: 41px;
    }
    .call-order p{
       margin-bottom: 0.5rem;
    }

    .social-connection{
        margin-top: 8.18px;
        margin-bottom: 30px;
    }
    .social-connection img{
        margin-right: 11px;
    }

}