@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.accordion-button::after {
    flex-shrink: 0;
    width: 3.25rem;
    height: 3.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../image/cross-black-circular-button_icon-icons.com_73054\ 1.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    transition: transform .2s ease-in-out;
}

.accordion-button {
    font-size: 22px!important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../image/cross-black-circular-button_icon-icons.com_73054\ 1.svg");
    transform: rotate(-45deg);
}

.bottom-faq{
    border-bottom: 0.5px rgba(255, 255, 255, 0.8) solid !important;
}
.faq-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    min-height: 573px;
}
.faq-section .title-faq{
    font-family: "Inter";
    font-weight: 700;
    color: #3177ff;
    font-size: 32px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;

    margin-top: 2%;
}

.question-answer{
    width:70%;
    margin:auto;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    background-color: #161616;
    border: 0px;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color:#161616;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:focus {
    z-index: 3;
    border-color:#161616;
    outline: none;
    box-shadow: 0 0 0 .25rem rgba(208, 18, 255, 0.4);;
}

button:focus:not(:focus-visible) {
    outline: none;
}
.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
    outline: none;
}
