@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media (max-width:968px) {

.our-project h2{
    font-family: "Inter";

    color: #D012FF;
    font-size: 20px;
    width: 100%;
    text-align: center;
  
    position: relative;
    top: 2%;
}

.container-grid {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 10px;
    width: 76vw;
    margin-top: 20px;
    align-items: center; 
    margin-right: auto; 
    margin-left: auto;
 }

  
.container-grid img{
    width: 150px;
    height: 210px;
    margin-right: 0px;
  }
}