@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@media (max-width:968px) {
    .more-neon h2{
        font-family: "Inter"!important;
      
        color: #D012FF!important;
        font-size: 20px!important;
        width: 100%!important;
        text-align: center!important;
       
    
        margin-top: 2%!important;
    }

    .price-neon{
        display: flex!important;
        justify-content: center!important;
        flex-wrap: wrap!important;
        width: 100%!important;
        margin: auto!important;
        margin-top: 3%!important;
    }

    .card-more-neon{
        width: 160px!important;
        height: 321px!important;
        display: flex!important;
        flex-direction: column!important;
        align-items: flex-start!important;
        margin-right: 9px!important;
        margin-top: 23px!important;
    }

    .title-card-neon{
        color: #4182FF!important;
        font-family: "Inter", sans-serif!important;
        font-weight: 400!important;
        font-size: 16px!important;
    }

    .description-title{
        color:white!important;
        font-family: "Inter", sans-serif!important;
        font-weight: 700!important;
        text-align: left!important;
        margin-bottom: 0px!important;
    }

    .price-neon-more{
        color: #4182FF!important;
        font-family: "Inter", sans-serif!important;
        font-weight: 400!important;
        font-size: 16px!important;
    }

    .order-price-more{
        background-color: #D012FF!important;
        border: none!important;
        width: 100%!important;
        height:24px!important;
        font-family:"Montserat", sans-serif!important;
        color: white!important;
        font-size: 12px!important;
        font-weight: 400!important;
        border-radius: 5px!important;
    }

    .card-more-neon img{
        width: 100%!important; 
        height: 112px!important;
    }

    .pagination_block{
        width: 100%!important;
        height: 50px!important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }
    .pagination_block button{
        width: 30px;
        height: 30px;
       background: none;
       border: #D012FF 2px solid;
       color:white;
       font-family: "Inter", sans-serif;
       font-size: 17px;
       font-weight: 600;
       margin-right: 18px;
       text-align: center;
    }

}