@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(./header/header.css);
@import url(./header/header-mobile.css);
@import url(./main-section/main-section.css);
@import url(./main-section/main-section-mobile.css);
@import url(./ourServices/our-services.css);
@import url(./ourServices/our-services-mobile.css);
@import url(./feedback/feedback.css);
@import url(./feedback/feedback-mobile.css);
@import url(./more-neon/more-neon-mobile.css);
@import url(./more-neon/more-neon.css);
@import url(./Our\ advantages/ourAdvantages.css);
@import url(./Our\ advantages/ourAdvantages-mobille.css);
@import url(./social_block/social_block.css);
@import url(./social_block/social_block_mobile.css);
@import url(./our-project/our-project.css);
@import url(./our-project/our-project-mobile.css);
@import url(./about-us/about-us.css);
@import url(./about-us/about-us-mobile.css);
@import url(./FAQ/faq.css);
@import url(./FAQ/faq-mobile.css);
@import url(./footer/footer.css);
@import url(./footer/footer-mobile.css);


html {
    scroll-behavior: smooth;
}

.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Убедитесь, что z-index позволяет уведомлениям быть поверх другого контента */
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.toast-header {
    display: flex;
    align-items: center;
    padding: .5rem .75rem;
    color: #ffffff;
    background-color: #2e0f70;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.btn-close{
    color: #ffffff;
}

